node_modules
.env
db/data
db/backups
discord/secrets/
frontend/secrets/
db/secrets
game/secrets
discord/secrets
frontend/@types/
frontend/common/
private*.md
push-docker-images-prod.sh
tsconfig.*.tsbuildinfo
.gitignore
game/ssl/localhost.key
game/ssl/localhost.crt
ssl/localhost.key
ssl/localhost.crt
game/tsconfig.game.tsbuildinfo
git
game/dist
discord/dist
*.tsbuildinfo
newrelic_agent.log
cypress.json
