node_modules
.env
db/data
discord/secrets/
frontend/secrets/
db/secrets
game/secrets
discord/secrets
frontend/@types/
frontend/common/
private*.md
push-docker-images-prod.sh
game/dist
discord/dist
frontend/dist
.gitignore
game/ssl/localhost.key
game/ssl/localhost.crt
ssl/localhost.key
ssl/localhost.crt
game/tsconfig.game.tsbuildinfo
git
**/dist
*.tsbuildinfo