@import './normalize.css';
@import './variables.scss';

*,
*.before,
*.after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--font-stack);
  color: var(--text);
  background: var(--bg);
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;

  @media only screen and (max-device-width: 768px) {
    font-size: 17px;
  }
}
body {
  max-width: 100%;
  min-width: 100%;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
}
