@import './normalize.css';
@import './variables.scss';

*,
*.before,
*.after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.4;
  font-family: var(--font-stack);
  color: var(--text);
  background: black;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  user-select: none;

  @media only screen and (max-device-width: 768px) {
    font-size: 15px;
  }
}
body {
  max-width: 100%;
  min-width: 100%;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.3em 0 0.2em 0;
}

h5 {
  font-size: 1em;
}

label {
  margin-top: 0.5em;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.93rem;
  opacity: 0.8;
}
input,
textarea {
  background: transparent;
  border: 1px solid var(--pane-border);
  padding: 0.3em 0.4em;
  color: var(--text);
  width: 100%;
  max-width: 30em;
  margin-bottom: 1em;
}
textarea {
  height: 10em;
}

button,
.button,
input[type='submit'] {
  display: inline-block;
  background: var(--text);
  color: var(--bg);
  border: none;
  box-shadow: inset 0 0 0 0.5px var(--bg),
    0 0 0 0.5px var(--bg);
  margin: 0;
  padding: 0.3em 0.5em;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: auto;
  }

  &.secondary {
    background: var(--bg);
    color: var(--text);
    box-shadow: 0 0 0 0.5px var(--pane-border),
      inset 0 0 0 0.5px var(--pane-border);
  }

  &.mini {
    padding: 0.15em 0.3em;
  }
}

.panesubhead {
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1;
  top: calc(-1 * var(--panesectionpad-top));
  margin-left: calc(-1 * var(--panesectionpad-left));
  margin-bottom: calc(-1 * var(--panesectionpad-top));
  background: rgba(white, 0.1);
  padding: 0.35rem 0.4rem 0.2rem 0.4rem;
  display: inline-block;
}
.panesection {
  position: relative;
  border-top: 1px solid
    var(--highlight-color, var(--pane-border));
  box-shadow: -1px 0 0 0
      var(--highlight-color, var(--pane-border)),
    1px 0 0 0 var(--highlight-color, var(--pane-border)),
    0 1px 0 0 var(--highlight-color, var(--pane-border));
  padding: var(--panesectionpad-top)
    var(--panesectionpad-left);
  color: var(--highlight-color, var(--text));
}
.padpane {
  padding: var(--panesectionpad-top)
    var(--panesectionpad-left);
}

.sub {
  opacity: 0.7;
  font-size: 0.85em;
}

.disabled {
  opacity: 0.3;
}

.flex {
  display: flex;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padtop {
  padding-top: 1em;
}

.padnone {
  padding: 0;
}

.relative {
  position: relative;
}

.z2 {
  z-index: 2;
}

.nopointer {
  pointer-events: none;
}

.inline {
  display: inline-block;
}

.textcenter {
  text-align: center;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.flashtextgoodonspawn {
  animation: highlight-text-good 4s ease-out 1;
}
.flashtextbadonspawn {
  animation: highlight-text-bad 4s ease-out 1;
}
