:root {
  --font-stack: 'Prompt', 'Helvetica', sans-serif;

  --text: #eee;
  --gray: #666;
  --bg: #111;
  --pane-bg: rgba(25, 25, 25, 1);

  --game: #ff9f49;

  --warning: rgb(215, 102, 46);
  --info: rgb(46, 139, 220);
  --success: rgb(0, 205, 109);

  --noguild: rgb(180, 180, 180);

  --stamina: rgb(59, 228, 12);
  --cargo: #f9c74f;
  --cache: var(--cargo);
  --item: rgb(164, 183, 206);

  --armor: rgb(154, 174, 172);
  --engine: #f8961e;
  --communicator: #a175ef;
  --weapon: #ff5a5c;
  --scanner: #26e0b0;

  --crewCosmeticCurrency: rgb(255, 204, 0);
  --shipCosmeticCurrency: rgb(0, 187, 255);

  --panesectionpad-top: 1.2rem;
  --panesectionpad-left: 1rem;
}

@keyframes highlight-text-bad {
  to {
    color: inherit;
  }
  from {
    color: var(--warning);
  }
}

@keyframes highlight-text-good {
  to {
    color: inherit;
  }
  from {
    color: var(--success);
  }
}
