@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  --font-stack: 'Source Code Pro', 'Monaco', 'Fira Code',
    monospace;

  --text: #eee;
  --bg: #111;
}
