@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  --font-stack: 'Source Code Pro', 'Monaco', 'Fira Code',
    monospace;

  --text: #eee;
  --pane-border: #666;
  --bg: #111;
  --pane-bg: rgba(20, 20, 20, 0.9);

  --warning: #f50;
  --info: #08f;
  --success: rgb(0, 205, 109);

  --panesectionpad-top: 0.7rem;
  --panesectionpad-left: 0.8rem;
}

@keyframes highlight-text-bad {
  to {
    color: inherit;
  }
  from {
    color: var(--warning);
  }
}

@keyframes highlight-text-good {
  to {
    color: inherit;
  }
  from {
    color: var(--success);
  }
}
